@media (min-width:900px){

.navbar{
display:flex;
align-items:center;
flex-wrap:nowrap;
}

.menu-btn{
display:none;
}

.nav-links{
display:flex;
gap:25px;
margin-left:20px;
white-space:nowrap;
}

.floating-text{
position:static;
transform:none;
margin-left:20px;
}

.nav-logo{
margin-right:auto;
}

}