@media (min-width:900px){

.navbar{
display:flex;
align-items:center;
flex-wrap:nowrap;
}

.menu-btn{
display:none;
}

.nav-links{
display:flex;
gap:25px;
margin-left:20px;
white-space:nowrap;
}

.nav-links a::after{
content:"";
position:absolute;
left:50%;
bottom:-3px;
width:0;
height:2px;
background:#00ff88;
transform:translateX(-50%);
transition:width 0.25s ease;
}

.nav-links a:hover::after{
width:70%;
}

.floating-text{
position:static;
transform:none;
margin-left:20px;
}

.nav-logo{
margin-right:auto;
}

}